

.container{
    margin: 40px ;
    justify-content: center;
  
}

.left-side {
    margin-top: 60px;
}

.right-side {
    margin-top: 40px;
    
}

.rating-card {
    margin-top: 80px;
}

.user-card{
    margin-top: 70px;
}

.recommend-card {
margin-top: 70px;

}

.rating-row {
    padding-bottom: 10px;
}

