.header {

    /* background-color:#564d4d; */
    z-index: 100;
    top: 0;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
    background-color: #cfcfcf;

}

.header-left {
    display: flex;
    justify-content: space-evenly;

}

dfn {
    position: relative;
}

dfn:hover::after {
    content: attr(title);
    color: white;
    background: #564d4d;
    border-radius: 10px;
    padding: 7px 15px;
    border: solid 1px white;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.header_input {
    background-color: #eff2f5;
    border-radius: 33px;
}
.header_input > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.header-option > .MuiSvgIcon-root {

    color: white;
}

.header-option:hover > .MuiSvgIcon-root {
    color: #f4ca16;
}


.header-option--active > .MuiSvgIcon-root {
    color: #f4ca16;
}

.header-option--active {
    border-bottom: 4px solid #f4ca16;
}

.header-option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header-option:hover {
    background-color: #cfcfcf;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #f4ca16;
    border-bottom: 4px solid #f4ca16;
}

.expand-button {
    color: white;
}


/*.header_left > img {*/
/*    height: 40px;*/
/*}*/


/*.header_center {*/
/*    display: flex;*/
/*    flex: 1;*/
/*    justify-content: center;*/
/*}*/

/*.header_info{*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.header_info > h4 {*/
/*    margin-left: 10px;*/
/*}*/
/*.header_right{*/
/*    display: flex;*/
/*}*/

/*.expand-button {*/
/*    border-radius: 33px;*/
/*}*/
