.card-body {
    padding-bottom: 40px;
}

.scroll-text {
    height:50px;
    width:825px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    overflow-y: hidden;
    overflow-x:scroll;
}